// Reset CSS
html,
body,
h2,
h3,
div,
span,
p,
ul,
li,
table,
tr,
th,
td,
label,
input {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Host CSS
:host {
  --togostanza-fadeout-opacity: 0.2;
  --togostanza-fadeout-transition: opacity 0.2s ease-in;
  --black_40: rgb(0 0 0 / 40%);
  --white_20: rgb(255 255 255 / 20%);
  --variant-color: rgb(95, 222, 222);
  --variant-color_30: rgba(95, 222, 222, 0.3);

  display: block;
  font-family: var(--togostanza-fonts-font_family);
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
  color: var(--togostanza-fonts-font_color);
  background-color: var(--togostanza-theme-background_color);
}
