// Reset CSS
html,
body,
div,
span,
ul,
li,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
li {
  list-style: none;
}
table {
  border-collapse: collapse;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Host CSS
:host {
  --togostanza-fadeout-opacity: 0.2;
  --togostanza-fadeout-transition: opacity 0.2s ease-in;

  display: block;
  background-color: var(--togostanza-theme-background_color);
  font-family: var(--togostanza-fonts-font_family);
  color: var(--togostanza-fonts-font_color);
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
}
