// Reset CSS
html,
body,
h2,
h3,
h4,
div,
span,
p,
ul,
li,
table,
tr,
th,
td,
label,
input,
button {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.svelte-fa {
  padding-left: 5px;
}
.legend {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
  .legend-bar {
    width: 100px;
    min-width: 30px;
    height: 7px;
    background: linear-gradient(
      to right,
      var(--first-color),
      var(--second-color),
      var(--third-color)
    );
    border-radius: 10px;
  }
}

.th-gene {
  color: var(--gene-color);
}
.th-variant {
  color: var(--variant-color);
}
.th-disease {
  color: var(--disease-color);
}
.th-calc {
  color: var(--calc-color);
}

.error-message {
  height: 200px;
  text-align: center;
}
// Host CSS
:host {
  --togostanza-fadeout-opacity: 0.2;
  --togostanza-fadeout-transition: opacity 0.2s ease-in;

  display: block;
  font-family: var(--togostanza-fonts-font_family);
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
  color: var(--togostanza-fonts-font_color);
  background-color: var(--togostanza-theme-background_color);

  //Variables
  --black_20: rgb(0 0 0 / 20%);
  --black_40: rgb(0 0 0 / 40%);
  --white_20: rgb(255 255 255 / 20%);
  --gene-color: rgb(156 229 60);
  --gene-color_30: rgb(156 229 60 /30%);
  --variant-color: rgb(95 222 222);
  --variant-color_30: rgb(95 222 222 / 30%);
  --disease-color: rgb(214 131 211);
  --disease-color_30: rgb(214 131 211 /30%);
  --calc-color: rgb(252 185 0);
  --calc-color_30: rgb(252 185 0/ 30%);
  --first-color: #04ca41;
  --second-color: #e5d890;
  --third-color: #f00;

  --warning-color: #ffae00;
}
