@use "@/common.scss";
main {
  padding: 1rem 2rem;
}

// Icon
img {
  width: 17px;
  margin-right: 5px;
  vertical-align: sub;
  &.drug-icon {
    width: 14px;
    margin-right: 7px;
    margin-left: 2px;
  }
}
.svelte-fa {
  padding-left: 5px;
  vertical-align: text-bottom;
}
.radio-button {
  width: 14px;
  height: 14px;
  margin-right: 8px;
  vertical-align: text-top;
  background-color: rgb(255 255 255 / 40%);
  border-radius: 50%;
  appearance: none;
  &:checked {
    background-color: #fff;
    border: 4px solid #29abe2;
  }
}

//Heatmap Table
.heatmap-table {
  display: flex;
  height: calc(var(--togostanza-canvas-height) * 1px);
  white-space: nowrap;
  .column-list,
  .drugs-list {
    padding: 10px;
    > h2 {
      padding: 2px 5px;
      margin-bottom: 5px;
      font-size: 14px;
    }
    > ul > li {
      padding: 2px 5px;
      margin-bottom: 5px;
      cursor: pointer;
      border-radius: 2px;
      &:hover,
      &.selected {
        clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
        color: #000;
        background-color: #fcb900;
      }
    }
    &.column-list {
      width: 15%;
      min-width: 190px;
      background-color: rgb(0 0 0 / 50%);
      > h2 {
        &:hover,
        &.selected {
          clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
          color: #000;
          cursor: pointer;
          background-color: #5fdede;
          border-radius: 2px;
        }
        &:active {
          background-color: #2dbcbc;
        }
      }
      .num {
        padding: 0 5px;
        margin-left: 4px;
        background-color: rgb(255 255 255 / 20%);
        border-radius: 2px;
      }
      h2:hover,
      li:hover,
      h2.selected,
      li.selected {
        .num {
          background-color: rgb(0 0 0 / 20%);
        }
      }
    }
    &.drugs-list {
      width: 10%;
      min-width: 120px;
      background-color: rgb(0 0 0 / 40%);
    }
  }

  // Table
  .table-container {
    flex: 1;
    background-color: rgb(0 0 0 / 30%);
    .table-wrapper {
      height: calc(100% - 28px);
      margin: 15px;
      overflow-y: scroll;
      table {
        border-spacing: 0;
        border-bottom: 1px solid #fff;
        thead {
          position: sticky;
          top: 0;
          height: 50px;
          background-color: #102e41;
          border-top: 1px solid #fff;
          th {
            padding-bottom: 4px;
            text-align: left;
            vertical-align: bottom;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            &.th-gene {
              width: 20%;
              min-width: 120px;
              padding-left: 18px;
              color: #9ce53c;
            }
            &.th-variant {
              width: 20%;
              min-width: 105px;
              color: #5fdede;
            }
            &.th-calc {
              width: 20%;
              min-width: 110px;
              color: #fcb900;
              border-top: none;
              &.th-group {
                font-size: 85%;
                vertical-align: bottom;
                border-top: 1px solid #fff;
                border-bottom: none;
              }
            }
            &.th-heatmap {
              width: 1%;
              max-width: 35px;
              padding-right: 35px;
              p {
                position: relative;
                top: 6px;
                left: -10px;
                font-size: 12px;
                transform-origin: top left;
                rotate: -20deg;
              }
            }
          }
        }
        tbody {
          tr {
            &.selected {
              background-color: rgb(255 255 255 / 10%);
            }
            td {
              padding: 5px 0;
              border-bottom: 1px solid rgb(255 255 255 / 20%);
              &.td-uniport {
                padding: 8px;
              }
              &.td-variant {
                color: #5fdede;
                > span {
                  padding: 8px 8px 8px 0;
                  cursor: pointer;
                }
              }
              &.cell-td {
                > .cell {
                  width: 17px;
                  height: 17px;
                  background-color: #f00;
                  border-radius: 50%;
                }
              }
            }
          }
        }
      }
    }
  }
}
