@use "@/common.scss";
main {
  padding: 1rem 2rem;
}

// Icon
img {
  width: 17px;
  margin-right: 5px;
  vertical-align: sub;
  &.drug-icon {
    width: 14px;
    margin-right: 7px;
    margin-left: 2px;
  }
}
.svelte-fa {
  padding-left: 5px;
  vertical-align: text-bottom;
}
.radio-button {
  width: 14px;
  height: 14px;
  margin-right: 8px;
  vertical-align: text-top;
  background-color: rgb(255 255 255 / 40%);
  border-radius: 50%;
  appearance: none;
  &:checked {
    background-color: #fff;
    border: 4px solid #29abe2;
  }
}

//Heatmap Table
.heatmap-table {
  display: flex;
  white-space: nowrap;
  .column-list,
  .drugs-list {
    padding: 10px;

    > h2 {
      padding: 2px 5px;
      font-size: 14px;
    }
    > ul > li {
      padding: 2px 5px;
      margin-left: 5px;
      cursor: pointer;
      border-radius: 2px;
      &:hover,
      &.-active {
        color: #000;
        background-color: #fcb900;
      }
    }
    &.column-list {
      background-color: rgb(0 0 0 / 50%);
      > h2:hover,
      h2.-active {
        clip-path: polygon(0% 0%, 92% 0%, 100% 50%, 92% 100%, 0% 100%);
        color: #000;
        background-color: #5fdede;
      }
      .num {
        padding: 0 5px;
        margin-left: 4px;
        background-color: rgb(255 255 255 / 20%);
        border-radius: 2px;
      }
      h2:hover,
      li:hover,
      h2.-active,
      li.-active {
        .num {
          background-color: rgb(0 0 0 / 20%);
        }
      }
    }
    &.drugs-list {
      background-color: rgb(0 0 0 / 40%);
    }
  }

  // Table
  .table-container {
    padding: 20px;
    background-color: rgb(0 0 0 / 30%);
    table {
      width: 100%;
      padding: 10px;
      table-layout: fixed;
      thead {
        height: 50px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        th {
          text-align: left;
          vertical-align: bottom;
          &.th-gene {
            width: 120px;
            color: #9ce53c;
            text-align: center;
          }
          &.th-variant {
            width: 100px;
            color: #5fdede;
          }
          &.th-hgvs {
            width: 250px;
            color: #5fdede;
          }
          &.th-disease {
            width: 200px;
            color: #d683d3;
          }
          &.th-calculation {
            width: 180px;
            color: #fcb900;
          }
          &.th-group {
            font-size: 12px;
          }
          &.th-heatmap {
            position: relative;
            top: -4px;
            left: -10px;
            width: 0;
            padding-right: 35px;
            font-size: 12px;
            rotate: -20deg;
          }
        }
      }
      tbody {
        border-bottom: 1px solid #fff;
        tr {
          &:not(:last-child) {
            border-bottom: 1px solid rgb(255 255 255 / 20%);
          }
          // &:has([type="radio"]:checked) {
          //   background-color: #fcb900;
          // }
        }
        td {
          padding: 5px 0;
          &.td-uniport {
            > label {
              padding: 8px;
            }
          }
          &.td-variant {
            color: #5fdede;
            > span {
              padding: 8px 8px 8px 0;
              cursor: pointer;
            }
          }
          &.td-hgvs {
            white-space: pre-line;
          }
          &.td-calculation {
            > span {
              padding: 5px;
              color: #fcb900;
              cursor: pointer;
            }
          }
          &.cell-td {
            > .cell {
              width: 17px;
              height: 17px;
              background-color: #f00;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}
