@use "@/common.scss";
.search-disease {
  table {
    width: 100%;
    line-height: 2;
    white-space: nowrap;
    border-spacing: 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    tr {
      th {
        width: 120px;
        padding-left: 10px;
        font-weight: 500;
        text-align: left;
        border-bottom: 1px solid #fff;
      }
      td {
        padding-left: 10px;
        text-align: left;
        border-bottom: 1px solid var(--white_20);
        &:nth-of-type(1) {
          padding-left: 5px;
        }
        > a {
          padding: 5px;
          color: var(--disease-color);
          &:active {
            opacity: 0.7;
          }
        }
        img {
          padding-right: 10px;
          vertical-align: middle;
        }
      }
    }
  }
}
