@use "@/common.scss";
.search-variant {
  white-space: nowrap;
  table {
    width: 100%;
    line-height: 2;
    border-collapse: collapse;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    thead{
      tr:last-child{
        border-bottom: 1px solid #fff;
      }
    }
    tr {
      th {
        width: 120px;
        padding-left: 10px;
        font-weight: 500;
        text-align: left;
        vertical-align: bottom;
      }
      td {
        padding-left: 10px;
        border-bottom: 1px solid var(--white_20);
        &:nth-of-type(1) {
          padding-left: 5px;
        }
        > a {
          padding: 5px;
          color: var(--variant-color);
          &:active {
            opacity: 0.7;
          }
        }
        img {
          padding-right: 10px;
          vertical-align: middle;
        }
      }
    }
  }
}
